<a href="https://colab.research.google.com/github/usshaa/Data_Science/blob/main/Python_Programming_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Programming Exercises

In [ ]:
# Example 1: Swapping two variables without using a temporary variable

In [ ]:
a = 10
b = 5

print("Before swapping:")
print("a =", a)
print("b =", b)

a, b = b, a  # Simultaneous assignment

print("\nAfter swapping:")
print("a =", a)
print("b =", b)

In [ ]:
# Example 2: Calculating the area of a rectangle

In [ ]:
length = 10
width = 5

area = length * width

print("\nArea of the rectangle:", area)

In [ ]:
# Example 3: Converting temperature from Celsius to Fahrenheit

In [ ]:
celsius = 25

fahrenheit = (celsius * 9/5) + 32

print("\nTemperature in Fahrenheit:", fahrenheit)

In [ ]:
# Example 4: String concatenation

In [ ]:
first_name = "John"
last_name = "Doe"

full_name = first_name + " " + last_name

print("\nFull Name:", full_name)

In [ ]:
# Example 5: Working with Lists

In [ ]:
my_list = [1, 2, 3, 4, 5]

# Accessing elements
print("\nFirst element:", my_list[0])
print("Last element:", my_list[-1])

# Slicing
print("Elements from index 1 to 3:", my_list[1:4])

# Appending an element
my_list.append(6)
print("List after appending 6:", my_list)

In [ ]:
# Example 6: Working with Tuples
my_tuple = (10, 20, 30, 40, 50)

# Accessing elements (similar to lists)
print("\nFirst element of tuple:", my_tuple[0])

# Tuples are immutable, so you cannot modify them directly like lists.

In [ ]:
# Example 7: Working with Dictionaries
my_dict = {"name": "Alice", "age": 30, "city": "New York"}

# Accessing values
print("\nName:", my_dict["name"])
print("Age:", my_dict["age"])

# Adding a new key-value pair
my_dict["occupation"] = "Engineer"
print("Dictionary after adding occupation:", my_dict)

In [ ]:
# Example 8: Working with Sets
my_set = {1, 2, 3, 4, 5}

# Adding an element (if it doesn't exist)
my_set.add(6)
print("\nSet after adding 6:", my_set)

# Removing an element
my_set.remove(3)
print("Set after removing 3:", my_set)

# Check if an element exists in the set
print("Is 4 in the set?", 4 in my_set)

In [ ]:
# 1.  Calculate the sum and difference of two numbers.
num1 = 15
num2 = 7
sum_result = num1 + num2
diff_result = num1 - num2
print("Sum:", sum_result)
print("Difference:", diff_result)

In [ ]:
# 2. Calculate the product and quotient of two numbers.
product_result = num1 * num2
quotient_result = num1 / num2  # Floating-point division
print("Product:", product_result)
print("Quotient:", quotient_result)

In [ ]:
#3. Demonstrate the modulo operator.
modulo_result = num1 % num2
print("Modulo:", modulo_result)

In [ ]:
# 4.  Demonstrate floor division.
floor_div_result = num1 // num2
print("Floor Division:", floor_div_result)

In [ ]:
# 5. Exponentiation example
exponent_result = num1 ** num2
print("Exponent:", exponent_result)

In [ ]:
# 6. Multiple assignments in a single line
x, y, z = 10, 20, 30
print(x, y, z)

In [ ]:
#7. Augmented assignment operators
a = 5
a += 3  # Equivalent to a = a + 3
a -= 2  # Equivalent to a = a - 2
print(a)

In [ ]:
# 8. Boolean operations (and, or, not)
p = True
q = False
print(p and q)  # Logical AND
print(p or q)  # Logical OR
print(not p)  # Logical NOT

In [ ]:
# 9. Comparison operators
x = 10
y = 5
print(x > y)  # Greater than
print(x < y)  # Less than
print(x == y)  # Equal to
print(x != y)  # Not equal to
print(x >= y)  # Greater than or equal to
print(x <= y)  # Less than or equal to

In [ ]:
# 10. Bitwise operations
a = 10  # Binary: 1010
b = 4   # Binary: 0100
print(a & b)   # Bitwise AND
print(a | b)   # Bitwise OR
print(a ^ b)   # Bitwise XOR
print(~a)     # Bitwise NOT
print(a << 1)  # Left shift
print(a >> 1)  # Right shift

In [ ]:
# 11. Membership operators
my_list = [1, 2, 3, 4, 5]
print(3 in my_list)   # Checks if 3 is present in the list
print(6 not in my_list)  # Checks if 6 is not present in the list

In [ ]:
# 12. Identity operators
x = 10
y = 10
z = 20
print(x is y)  # Checks if x and y refer to the same object
print(x is not z) # Checks if x and z do not refer to the same object

In [ ]:
# 1. if-else statement: Check if a number is even or odd.
number = 10
if number % 2 == 0:
    print(f"{number} is even.")
else:
    print(f"{number} is odd.")

In [ ]:
# 2. if-elif-else statement: Determine the grade based on a score.
score = 85
if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"
print(f"Score: {score}, Grade: {grade}")

In [ ]:
# 3. for loop: Iterate through a list and print each element.
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

In [ ]:
# 4. while loop: Print numbers from 1 to 5.
count = 1
while count <= 5:
    print(count)
    count += 1

In [ ]:
# 5. Nested loops: Print multiplication table up to 5.
for i in range(1, 6):
    for j in range(1, 6):
        print(i * j, end="\t")
    print()

In [ ]:
# 6. Break statement: Exit a loop when a condition is met.
for i in range(1, 10):
    if i == 5:
        break
    print(i)

In [ ]:
# 7. Continue statement: Skip an iteration when a condition is met.
for i in range(1, 10):
    if i == 5:
        continue
i

In [ ]:
# Function without arguments
def greet():
  """Greets the user."""
  print("Hello!")

In [ ]:
# Function with keyword arguments
def greet_person(name="Guest"):
  """Greets a person with their name."""
  print(f"Hello, {name}!")

In [ ]:
# Function with variable-length arguments
def sum_numbers(*numbers):
  """Calculates the sum of multiple numbers."""
  total = 0
  for number in numbers:
    total += number
  return total